.thematic {
  margin: 10px;
  width: 100%;
}

.project {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  height: 45px;
}

.projectFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.formContainer {
  /* justify-content-center  */
  flex-direction: column;
  align-items: stretch;
  width: 50%;
  margin: 1.5rem auto 0;
  padding: 2rem;
  gap: 32px;
  border: 5px solid rgba(0, 0, 0, 0.626);
  border-radius: 5%;
}

.formField span {
  display: block;
  /* flex-direction: column; */
  /* gap: 8px; */
  position: relative;
  width: 100%;
}

.formField input {
  min-width: 100%;
}

.p-password {
  min-width: 100%;
}

.font-error {
  color: red;
  font-size: 0.75rem;
}
